@import "tailwindcss";

@theme {
  --color-primary: #1C3144;
  --color-secondary: #D1B07A;
  --color-background: #ffffff;
}

:root {
  --color-primary: #1C3144;
  --color-secondary: #D1B07A;
  --color-background: #ffffff;
}

body {
  background-color: var(--color-background);
  color: var(--color-primary);
}
